@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Inter', sans-serif;
}


.primaryBG {
  background: #FCFCFC;
 }
 
 .dark {
   background: black;
   color: #ffff;
 }
 .themediv{
   z-index: 20001;
 }
 
 header, nav{
   z-index: 10001 !important;
 }
 
 .subtitle{
   @apply text-red uppercase tracking-wide font-semibold text-lg;
 }
 
 .title{
   @apply  text-4xl md:text-5xl md:leading-snug font-bold font-patrick my-2;
 }
 
 .slick-slider {
 
 }
  
 
 .slick-prev {
   z-index: 1;
  
 }
 .slick-next {
   z-index: 1;
  
 }
 
 .slick-dots li button:before {
   color: rgb(179, 178, 178) !important;
   font-size: 10px !important;
   margin-top: 10px;
 }
 
 .slick-dots li.slick-active button:before {
   color: white !important;
   
 }
 
 .heartStar{
   border-radius: 0px 28px 0px 28px;
 }
 
 .section-container{
   @apply max-w-screen-2xl container mx-auto xl:px-24 px-4
 }
 
 .footer-title{
   color: black !important;
 }
 
 .active{
   text-decoration: underline;
   text-underline-offset: 5px;
   color: #FF4F00;
   
 }

 
 
 .loading-spinner {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   font-size: 1.5rem;
   color: #fff; 
 }
 




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 


